<p>assignment9 works!________________________________________________________________________________________________________________________</p>
<h1>Q1)</h1>
<h4>String: {{Name}}</h4>
<h4>Reverse String: {{Name | myRev}}</h4>


<h1>Q2)</h1>
<h4>Addition of 8,3 = {{8 | myAdd : 3}}</h4>
<h4>Multiplication of 7,3 = {{7 | myMult : 3}}</h4>


<h1>Q3)</h1>
<h3>No: {{numData}}</h3>
<h4>Even ? {{numData | marvellousChk : "Even"}}</h4>
<h4>Odd ? {{numData | marvellousChk : "Odd"}}</h4>
<h4>Perfect ? {{numData | marvellousChk : "Perfect"}}</h4>
<h4>Prime ? {{numData | marvellousChk : "Prime"}}</h4>