<p>assignment12 works!________________________________________________________________________________________________________________________</p>
<div class="title">
    <div class="heading">
        <h1 class="display-6 contact-our">Contact our</h1>
        <h1 class="display-6">Customer Support Center</h1>
    </div>
    <div class="image">
        <img src="imgMac.jpg" class="img-fluid img" alt="...">
    </div>  
</div>

<div class="heading">
    <h3>Contact Information</h3>
    <h6>Please fill out your contact information below</h6>
</div>


<form class="formDemo">
    <div class="row">
      <div class="required" for="name">Name</div>
       <div class="col">
        <input type="text" for="first-name" class="form-control" aria-label="First name" required>
        <label for="first-name" class="form-label">First Name</label>
      </div>
      <div class="col">
        <input type="text" for="last-name" class="form-control" aria-label="Last name" required>
        <label for="last-name" class="form-label">Last Name</label>
      </div>
    </div>
    <br>

     <div class="row">
      <div class="required" for="email">Email address</div>
      <input type="email" for="email" class="form-control" id="exampleFormControlInput1" required>
    </div>
    <br>

     <div class="row">
      <div class="required" for="phone">Phone number</div>
      <input type="text" for="phone" class="form-control" aria-label="Phone number" required>
    </div>
    <br>

    <div class="row">
      <div class="required" for="address">Address</div>
      <textarea class="form-control" for="address" rows="3" required></textarea>
    </div>
</form>

